.item-container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(241, 96, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title{
    font-size: 40px;
}
.box{
    text-align: center;
  width: 600px;
  background: rgba(255, 255, 255, 0.95);
  padding: 3rem 2rem;
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}
.parent{
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}
.child{
    display: flex;
    gap: 8px;
    
    justify-content: center;
};
.v-icon{
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.n-icon{
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.child2{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: brown;
}
.veg{
    box-sizing: border-box;
    border: 1px solid green;
    border: 0;
    
}
.non-veg{
    box-sizing: border-box;
    border: 1px solid red;
    border: 0;
    
}